.dashboard {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.header {
  background-color: #FF8227;
  color: #fff;
  padding: 20px;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav li {
  display: inline-block;
  margin-right: 20px;
}

.main {
  padding: 20px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  
}
.card {
  background-color: orange;
  
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.chart {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: orange;
}